{% extends "layout.jinja2" %}

{% block content %}

<style type="text/css">
BODY{background-color: {{bg_color}}}:
</style>

<div class="content">
  <h1><span style="background-color:{{color}}" class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
  <p class="lead">Welcome to <span style="background-color:{{color}}" class="font-normal"> the test page for P.Boloz Lab 6</span>, a&nbsp;Pyramid application generated&nbsp;by<br><span class="font-normal">Cookiecutter</span>.</p>
  <li><a href = "http://localhost:6543/color/yellow">Click here for yellow color.</a></li>
  <li><a href = "http://localhost:6543/color/white"> Click here for white color.</a></li>
  <li><a href = "http://localhost:6543/color/pink"> Click here for pink color.</a></li>
  
</div>


  <li><a href = "http://localhost:6543/form">Click here to change background color.</a></li>

{% endblock content%}
