
<body>
<form method="POST" action="http://localhost:6543/form_bg">

	Background color: <input type="text" name="bg_color"><br>
	</div>
	<input type="Submit" value="CHANGE COLOR">
	</form>
<body>
<html>
